.easy {
  padding: 66px 0 88px;
  @include w-to($screen-lg) {
    padding: 10px 0 5px;
  }
  &__title {
    @include w-to($screen-lg) {
      max-width: 250px;
    }
  }
  &__text {
    margin: 19px 0 42px;
    @include w-to($screen-lg) {
      margin: 46px 0 49px;
    }
  }
  &-steps {
    display: flex;
    gap: 150px;
    @include w-to($screen-lg) {
      gap: 60px 167px;
      margin-left: 43px;
      flex-wrap: wrap;
    }
    &__number {
      margin-left: -50px;
      display: block;
      font: bold 150px $font-family;
      color: #e9e9ed;
      @include w-to($screen-lg) {
      }
      &:after{
        font-weight: normal;
        font-size: 50px;
        color: $title-color;
        position: relative;
        bottom: 20px;
        right: 35px;
        @include w-to($screen-lg) {
          bottom: 20px;
          font-size: 75px;
        }
      }
    }
  }
}

.one {
  @extend %icon-1;
}

.two {
  @extend %icon-2;
}