$marker-distantion: 29px;

.installing {
  &-list {
    margin-left: $marker-distantion;
    list-style: none;
    @include w-range($screen-md, $screen-lg) {
      width: 60vw;
    }
    &__short {
      margin: -25px 0 -15px;
      @include w-to($screen-lg) {
        margin: 0;
      }
    }
    &__link {
      font-size: 24px;
      letter-spacing: .1px;
      line-height: 30px;
      &::before {
        content: "\2022";
        position: relative;
        right: $marker-distantion;
        font-weight: bold;
        color: $title-color;
      }
    }
    &__text {
      width: 790px;
      margin: 17px 10px 44px;
      line-height: 20px;
      @include w-to($screen-lg) {
        width: 82vw;
        margin: 25px 10px 50px;
        line-height: 32px;
      }
    }
  }
  &-html {
    padding: 80px 0 40px;
    background: $second-color;
    @include w-to($screen-lg) {
      padding: 5px 0 0;
    }
    &__title {
      margin-bottom: 65px;
      @include w-to($screen-lg) {
        margin-bottom: 60px;
        width: 315px;
      }
    }
  }
  &-app {
    padding: 43px 0 33px;
    @include w-to($screen-lg) {
      margin-top: -46px;
      padding: 0 0 0px;
    }
    &__title {
      white-space: pre-line;
      @include w-to($screen-lg) {
        white-space: wrap;
      }
    }
    &__subtitle {
      margin: 27px 0 65px;
      @include w-to($screen-lg) {
        margin: 50px 0 70px;
      }
    }
  }
}