.install {
  padding: 174px 0 69px;
  background: $second-color;
  &__title {
    font-size: 36px;
  }
  &__text {
    width: 635px;
    margin: 30px 0 55px;
  }
  &-buttons {
    display: flex;
    gap: 19px;
    &__tarif {
      background: $second-color;
      color: $title-color;
      border: 1px solid $title-color;
      &:hover {
        background: $title-color;
        color: $second-color;
        border-color: $second-color;
      }
    }
  }
}