@import 'vars', 'mixins', 'fonts', 
'parts/header', 'parts/toinstall',
'parts/easysteps', 'parts/installing',
'parts/after', 'parts/contacts',
'parts/footer';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.container {
  width: 1004px;
  padding: 0 10px;
  margin: 0 auto;
}

.button {
  width: 258px;
  padding: 15px 25px;
  font: bold 14.4px $font-family;
  text-transform: uppercase;
  border-radius: 24px;
  cursor: pointer;
  &:active, &:focus {
    outline: none;
  }
}

.free {
  color: $main-color;
  background: $highlight-color;
  border: 1px solid $highlight-color;

  &:hover {
    color: $main-color;
    background: $link-color;
    border-color: $link-color;
  }
}

.title {
  @extend %title-font;
}

.text {
  @extend %text-font;
}

.big-text {
  @extend %big-text;
}

.link {
  @extend %link-font;
}