@import 'vars', 'mixins', 'fonts', 
'parts/header', 'parts/install';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.button {
  width: 258px;
  padding: 15px 25px;
  font: bold 14.4px $font-family;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 24px;
  cursor: pointer;
}
