@import 'vars', 'mixins', 'fonts', 
'parts/header', 'parts/install';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.container {
    width: 1540px;
    margin: 0 auto;
}