
$screen-sm: 320px;
$screen-lg: 1200px;

$main-color: #fff;
$second-color: #eff4f4;
$highlight-color: #2cd3b8;

$title-color: #393e6b;
$text-color: #74757b;
$link-color: #0da088;


$font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;


%title-font {
  font: bold 30px $font-family;
  line‑height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $title-color;
}

%text-font {
  font: normal 16px $font-family;
  letter-spacing: .4px;
  color: $text-color;
  line-height: 24px;
}

%link-font {
  font: normal 18px $font-family;
  letter-spacing: .3px;
  line-height: 18px;
  color: $link-color;
  text-decoration: none;
  border-bottom: 2px solid $link-color;
}

%singup-link {
  text-transform: uppercase;
  font: normal 18px $font-family;
  text-decoration: none;
  color: $title-color;
  font: normal $font-family 16px;
  letter-spacing: .4px;
  &:hover {
    @extend %hover;  
  }
}

%hover {
  filter: saturate(300%);
}