
$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1170px;

$main-color: #fff;
$second-color: #eff4f4;
$highlight-color: #2cd3b8;

$title-color: #393e6b;
$text-color: #74757b;
$link-color: #0da088;
$footer-color: #adb0c2;

$font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;

$animation: all 0.3s ease 0s;

%title-font {
  font: bold 30px $font-family;
  line‑height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $title-color;
}

%text-font {
  font: normal 15px $font-family;
  letter-spacing: .8px;
  color: $text-color;
  line-height: 24px;
}

%big-text {
  max-width: 700px;
  font: normal 18px $font-family;
  color: $title-color;
  line-height: 20px;
}

%link-font {
  font: normal 18px $font-family;
  letter-spacing: .3px;
  line-height: 18px;
  color: $link-color;
  text-decoration: none;
  border-bottom: 2px solid $link-color;
  cursor: pointer;
  &:hover {
    color: $highlight-color;
    border-color: $highlight-color;
  }
}

%singup-link {
  text-transform: uppercase;
  font: normal 18px $font-family;
  text-decoration: none;
  color: $title-color;
  font: normal $font-family 16px;
  letter-spacing: .4px;
  &:hover {
    filter: saturate(300%);
  }
}