mixin step(number, text)
  p.after-steps
    span(class="after-steps__number step__"+number) Шаг #{number}. 
    span(class="big-text")=text

.after
  .container
    .after-container
      h2(class="title after__title") Что вас ждет после установки
      p(class="text after__text") Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет
      +step('1', 'Создание учетной записи компании и администратора')
      +step('2', 'Активация учетной записи')
      +step('3', 'Начальная настройка')
      +step('4', 'Установка кнопки Webim на сайт')
      +step('5', 'Регистрация оператора')
      +step('6', 'Тест сервиса')
      .after-buttons
        button(class="button free_after free") Все возможности WEBIM
        button(class="button test test_after") Протестировать бесплатно