.contacts
  .container
    .contacts-content
      p(class="big-text") Webim – это не только онлайн-консультант. Интегрируйте и другие каналы, 
        |чтобы клиенты могли обращаться к вам любым удобным способом
      .contacts-block
        div(class="contacts-block__icon soc") 
          p(class="contacts-block__link")
            a(class="link") Социальные сети
        div(class="contacts-block__icon feedback")
          p(class="contacts-block__link")
            a(class="link") Форма обратной связи
        div(class="contacts-block__icon  mobile")
          p(class="contacts-block__link")
            a(class="link") Чат в вашем &nbsp мобильном приложении
        div(class="contacts-block__icon msn")
          p(class="contacts-block__link")
            a(class="link") Мессенджеры
        div(class="contacts-block__icon yandex")
          p(class="contacts-block__link")
            a(class="link") Яндекс.Диалоги
        div(class="contacts-block__icon email")
          p(class="contacts-block__link")
            a(class="link") Электронная почта
        div(class="contacts-block__icon chat")
          p(class="contacts-block__link")
            a(class="link") Чат-боксы