.easy
  .container
    .easy-content
      h2(class="easy__title title") Простая установка 
      p(class="easy__text text") Установка онлайн-консультанта Webim не займет более 15 минут
      .easy-steps
        div
          span(class="easy-steps__number one") 1
          a(href="" class="easy-steps__link link") Регистрация
        div
          span(class="easy-steps__number two") 2
          a(href="" class="easy-steps__link link") Установка HTML-кода
