header(class="header block")
  .container
    .header-content
      .singup(class="header-singup")
        a(href="" class="header-singup__link") Вход
        a(href="" class="header-singup__link") Регистрация
      nav(class="header-nav")
        a(href="" class="header-nav__link") Возможности
        a(href="" class="header-nav__link") Тарифы
        a(href="" class="header-nav__link") Партнёрам
        a(href="" class="header-nav__link") Помощь
        img(src="/images/logo.png", alt="Webim" class="header-nav__img") 