mixin install(title, text)
  li(class!=attributes.class)
    a(href="" class="link installing-list__link")= title
    p(class="text installing-list__text") !{text}

.installing-html
  .container
    .installing-content
        h2(class="title installing-html__title") Установка HTML-кода
        ul(class="installing-list")
          +install("Установка HTML-кода Webim для сайтов на Joomla", "Документация по внедрению сервиса Webim на сайтах, построенных на базе <strong>CMS Joomla</strong>")
          +install("Установка HTML-кода Webim для сайтов на Wordress", "Документация по внедрению сервиса Webim на сайтах, построенных на базе <strong>Wordpress</strong>")
          +install("Установка HTML-кода Webim для сайтов на uCoz.ru", "Документация по внедрению сервиса Webim на сайтах, построенных на базе <strong>uCoz.ru</strong>")
          +install("Установка HTML-кода Webim для сайтов на webasyst.ru", "Документация по внедрению сервиса Webim на сайтах, построенных на базе <strong>webasyst.ru</strong>")
          +install("Установка HTML-кода Webim для любого сайта", "Документация по внедрению сервиса Webim на сайтах с другой CMS или написанных вручную.")
.installing-app
  .container
    .installing-content
        a(class="title installing-app__title") 
          |Установка приложения
          |для операторов Webim dashboard
        p(class="text installing-app__subtitle") Чтобы быть на связи с клиентами всегда, установите приложение Webim Dashboard 
        ul(class="installing-list")
          +install("Установка приложения Webim Dashboard для iPhone", "Документация по установке дополнительного программного обеспечения для операторов &nbsp <strong>сервиса Webim</strong>, использующих iPhone/iPad/etc от компании Apple.")
          +install("Установка приложения Webim Dashboard для Android", "Документация по установке дополнительного программного обеспечения для операторов &nbsp <strong>сервиса Webim</strong>, использующих платформу Google Android.")
          +install("Установка приложения Webim Dashboard для Ubuntu", "Документация по установке дополнительного программного обеспечения для операторов &nbsp <strong>сервиса Webim</strong>, использующих платформу Ubuntu.")
          +install("Установка приложения Webim Dashboard", "Документация по установке дополнительного программного обеспечения для операторов &nbsp <strong>сервиса Webim</strong> под OC Microsoft Windows.")(class="installing-list__short")
          +install("Создание приложения Webim для Mac OS", "Документация по установке дополнительного программного обеспечения для оператора Webim для Mac OS с помощью Fluid")

