.install
  .container
    .install-content
      h1(class="install__title title") Установка Webim
      p(class="install__text text") Установка онлайн-консультанта Webim на ваш сайт не займет много времени. 
        |Вы можете установить онлайн-консультант Webim на ваш сайт и протестировать 
        |его в течение 7 дней бесплатно. 
      .install-buttons
        button(class="install-buttons__free button") Попробовать бесплатно
        button(class="install-buttons__tarif button") Тарифы