.install
  .install-container
    h1(class="install__title")
    p(class="install__text")
    .install-buttons
      button(class="install-buttons__free button")
      button(class="install-buttons__tarif button")